[2018-06-01 01:39] chenshuai2144 opened #2 "Component style issues"
My [project](https://github.com/ant-design/ant-design-pro) have a problem.
I use your plugin, but he can only change the style of antd.
Can't change my own component.
Are you willing to help?
this is my config.
[code]

[2018-06-01 10:22] mzohaibqc commented on #2
@chenshuai2144 Sure, I will reach you around 11pm GTM + 5.

[2018-06-01 12:27] mzohaibqc commented on #2
@chenshuai2144 Are you using `antd-tools` for build process or simple webpack?

[2018-06-01 19:41] mzohaibqc commented on #2
Can you push your local changes for theming to remote branch so I can clone them and see what's wrong

[2018-06-02 09:03] chenshuai2144 commented on #2
I use roadhog.
I think it may be because css-module.

[2018-06-02 17:18] mzohaibqc commented on #2
@chenshuai2144 I ran your code locally so can you specifically tell me what is the issue. Which component do you expect to change color but it's not changing.

Few things to clear,
In order to use this plugin, all less files should be imported in main less file like this and you need to specify which colors you want to update. Currently you are updating only `@primary-color`
[code]
Have a look at

[2018-06-02 18:00] chenshuai2144 commented on #2
Is this a good method for components that need to be released separately?

[2018-06-02 18:15] mzohaibqc commented on #2
@chenshuai2144 Do you have a google account so we can communicate on Hangout or chat?

[2018-06-02 18:22] chenshuai2144 commented on #2
chenshuai064@gmail.com

[2018-06-07 06:48] gebilaoman opened #3 "I cant find the version 1.1.5"
I can't find the version 1.1.5 from npm or yarn.
I need u help.
[code]
I find all versions on npm:
[code]

[2018-06-07 07:51] liuzhuonan opened #4 "variable @component-background3cf is undefined"
When I use variable primary-color, it did work. But I add  variable @component-background into the themeVariables, it doesn't work and it reported this error. Why is it so？

[2018-06-07 07:52] liuzhuonan commented on #4
![image](https://user-images.githubusercontent.com/23043832/41085849-b61df626-6a6a-11e8-92ff-6d0492a06a62.png)
This is the Screenshots

[2018-06-07 13:11] mzohaibqc commented on #3
Here is what I got from this command
[code]

[2018-06-07 13:15] mzohaibqc commented on #4
@liuzhuonan Can you show more details like what's the value of this color, have you defined this color variable in `variables.less` file? Some more details

[2018-06-07 13:20] gebilaoman commented on #3
I don't know why, but I'm using version 1.2 now
![image](https://user-images.githubusercontent.com/26354664/41101997-51eb4ba8-6a98-11e8-9a52-397889a69cf1.png)

[2018-06-08 05:37] mzohaibqc commented on #3
There are many bug fixes in latest build, you need to install that version. Have you tried `npm install antd-theme-webpack-plugin@v1.1.5` ?

[2018-06-08 06:00] gebilaoman commented on #3
Yeah, I tried. It's a really strange question. Fortunately, I wrote the code with 1.1.2 and it worked.

[2018-06-08 12:42] mzohaibqc commented on #3
It worked for me.
![screen shot 2018-06-08 at 5 20 35 pm](https://user-images.githubusercontent.com/13637803/41158692-553b07a2-6b43-11e8-82c8-3b0051ba2b5f.png)

[2018-06-09 07:28] liuzhuonan commented on #4
Yes,I carefully checked every step and it is correct. I found that if I use the variable which default value is #fff, this error will appear.Such as @component-background, @input-bg, other variable is OK.I thought may be the plugin ant-theme-generator have a bug?And If I change the defalut value in varFile,like this
![image](https://user-images.githubusercontent.com/23043832/41188953-5e3c1f60-6bf9

[2018-06-09 11:47] mzohaibqc commented on #4
@liuzhuonan you are right. In case of #fff or #000 it will not work asnd it is intentionasl becasuse doing so will replace all #fff or #000 with your varialbe name causing unwanted colors when rendered. So in order  get best out of it, use unique six character hex color codes. The whole idea is to replace matching colors with respective variables.

[2018-06-11 08:20] liuzhuonan commented on #4
Another problem like this:
@bg-color: #ffffff;
@com-color: #ffffff;
.a {background: @bg-color};
.b {background: @com-color};
When I change @bg-color,because of the same initial value, .a and .b all changed.This is not what I want.
Is there any solution?

[2018-06-11 09:52] mzohaibqc commented on #4
@liuzhuonan As I told you earlier, white and black don't work well. It will using pure white or black color `#fff` or `#ffffff` will break styles repalcing many other white colors with your variable. You can use some other color as default value and if still want white use `#fffffe` or something like that. Same goes for black.

[2018-06-12 15:34] chenshuai2144 commented on #2
I solved this problem, but css-moudle made me feel

[2018-06-12 17:54] mzohaibqc commented on #2
@chenshuai2144 Can you share your findings and solution with me.

[2018-06-13 09:52] #3 closed

[2018-06-14 07:27] chenshuai2144 commented on #2
I want to add a tool that handles css-moudle.
what should I do?

[2018-06-14 07:51] mzohaibqc commented on #2
@chenshuai2144 Which tool and how it will affect? I am at leave and don't have my laptop with me so I'll look into this after June 20.

[2018-06-21 12:31] sunsetninja opened #5 "Changing some variables affects others as well"
Hi! When i'm change variable **@label-color**, for example, **@heading-color** changes as well, but in the library (antd) code they are related like this `@label-color: @heading-color;`.
### Webpack plugin config
![webpack](https://user-images.githubusercontent.com/13559663/41719075-9b8347a0-7567-11e8-991b-23d411412b74.png)
### Code, that changes variables
![component](https://user-images.githubus

[2018-06-21 17:39] mzohaibqc commented on #5
@sunsetninja show me your `vars.less`. What's `@label-color` value in `vars.less` file?

[2018-06-22 13:04] sunsetninja commented on #5
@mzohaibqc i'm just importing default antd variables in this file

[2018-06-22 13:46] mzohaibqc commented on #5
@sunsetninja that's the reason. All variables that you want to update dynamically must have a unique color value in vars.less file. Simply define variable in your own variables files and assign a default unique color code.

[2018-06-23 17:39] mzohaibqc commented on #5
@sunsetninja Did above solution fixed your problem?

[2018-06-25 10:16] chenshuai2144 commented on #2
look this https://github.com/ant-design/ant-design-pro/pull/1662

[2018-06-25 10:20] chenshuai2144 commented on #2
i need a api  getLocalIdent.
Functions similar to css-moudle getLocalIdent

[2018-06-25 12:28] mzohaibqc commented on #2
@chenshuai2144 Did it work after this change https://github.com/ant-design/ant-design-pro/pull/1662/commits/8e4e7d7aeaaf6d0060fa2ebd0959240034dc4bb1 ?

[2018-06-25 12:31] chenshuai2144 commented on #2
no ,Because css-module。
I need getLocalIdent to customize the class name

[2018-06-25 12:43] mzohaibqc commented on #2
@chenshuai2144 I don't know what is `getLocalIdent` but if there is something that I can change to make it work, let me know

[2018-06-30 12:01] yogi0823 opened #6 "creating some side effects with other library"
when i  reload my app some functions will stop to work like react-custom-scrollbar. when i remove
<link rel="stylesheet/less" type="text/css" href="/color.less"/>  from index.htmt they  will work perfectly but update color theme will stop working.

here is my **webpack.config.js** file
`'use strict';

/**
 * Webpack Config
 */
const fs = require('fs');
const path = require('path');
// const Bundle

[2018-06-30 22:40] mzohaibqc commented on #4
@liuzhuonan I hope above tip fixed your issue :) closing this

[2018-06-30 22:40] #4 closed

[2018-06-30 22:49] mzohaibqc commented on #6
Can you create a sample project/repo to reproduce this and then share with me?  I'll look into that and try to fix is possible.

[2018-07-01 13:11] yogi0823 commented on #6
Thanks  for reply!

this is demo app url https://github.com/yogi0823/demo.git

when we run app  app run perfectly. as well as we reload app it's start to
create issue. you can change drawer type inside the customizer.

On Sun, Jul 1, 2018 at 4:19 AM Zohaib Ijaz <notifications@github.com> wrote:

--
*Thank you*
*-Yogendra Singh (YOGI)*

[2018-07-01 18:14] mzohaibqc commented on #6
@yogi0823 I cloned this app and run it, it worked fine first time and after each reload. I could not find your scrolling issue in this demo app. Can you explain?

[2018-07-02 03:09] yogi0823 commented on #6
Hi,
We reload app again and again multiple times then this issue occurre.

If you unable to reproduce this issue I can provide you TeamViewer access.
We can easily see on my pc .

Issue with scroll bar and drawer also. Both issue occurre at same time.
If you are unable to see drawer when you reload aap it's mean both issue
have been occurred.

On Sun, Jul 1, 2018, 11:44 PM Zohaib Ijaz <notificatio

[2018-07-02 04:00] yogi0823 commented on #6
Hi,

issue will occurred when you hit *ctrl+f5* key to reload app you can see in
attachments.
thanks in advance

[image: image.png]

[image: image.png]

[image: image.png]
[image: image.png]

On Mon, Jul 2, 2018 at 8:39 AM Yogendra Singh <yogi0823@gmail.com> wrote:

--
*Thank you*
*-Yogendra Singh (YOGI)*

[2018-07-02 09:28] mzohaibqc commented on #6
@yogi0823 I'm un able to see your attachments

![screen shot 2018-07-02 at 2 27 34 pm](https://user-images.githubusercontent.com/13637803/42156310-2aec3fec-7e04-11e8-9800-3aaf622b54e0.png)

[2018-07-02 14:50] yogi0823 commented on #6
I will be available at this time sloat

On Mon, Jul 2, 2018 at 2:58 PM Zohaib Ijaz <notifications@github.com> wrote:

--
*Thank you*
*-Yogendra Singh (YOGI)*

[2018-07-02 16:58] mzohaibqc commented on #6
@yogi0823 `mzohaib.qc@gmail.com` is my email. I am online

[2018-07-02 18:03] yogi0823 commented on #6
this is my teamviwer id and password

372 122 109
3647

On Mon, Jul 2, 2018 at 10:28 PM Zohaib Ijaz <notifications@github.com>
wrote:

--
*Thank you*
*-Yogendra Singh (YOGI)*

[2018-07-02 18:04] mzohaibqc commented on #6
@yogi0823 I don't have teamviewer, can you connect using Google Hangout

[2018-07-03 01:29] chenshuai2144 commented on #2
[code]

[2018-07-03 01:30] chenshuai2144 commented on #2
I hope that you can use this method to change the css classname before converting less.

[2018-07-03 01:32] chenshuai2144 commented on #2
in base.less
[code]
change to
[code]

[2018-07-03 01:33] yogi0823 commented on #6
Thanks @mzohaibqc issue has resolved 👍

[2018-07-03 01:33] #6 closed

[2018-07-03 07:10] mzohaibqc commented on #2
@chenshuai2144 thank you so much for sharing this. I will look into this and will add in new release..

[2018-07-04 02:20] chenshuai2144 commented on #2
I have solved

[2018-07-10 07:15] mzohaibqc commented on #5
Clsing this due to no activity

[2018-07-10 07:15] #5 closed

[2018-07-11 08:26] HyjalHaven opened #8 "antd text color can not be changed"
I use this plugin for dynamic theme changing;

Most styles work well, except text color

![20180711162535](https://user-images.githubusercontent.com/34301033/42559604-30b9cb54-8527-11e8-9ee6-030ed616b641.png)

As you see, there are two classes of elements. The original styles override my styles. How can I fix that.

[2018-07-11 09:39] mzohaibqc commented on #8
@HyjalHaven it seems that your import order is not correct. Kindly share more info, how are you importing your styles in main.less/index.less. What about if you disable/remove dynamic styling?

[2018-07-12 02:42] HyjalHaven commented on #8
`@import 'variables.less';

@import './routes/Home/Home.less';
@import './routes/List/BasicList.less';
@import './routes/PrimeObject/PrimeObjectInfo.less';
@import './routes/User/Login.less';
@import './layouts/NewLayout.less';
@import './layouts/PageHeaderLayout.less';
@import './components/CaseAnalysis/index.less';
@import './components/CaseStatistics/Components/FilterMenu.less';
@import './comp

[2018-07-12 18:43] mzohaibqc commented on #8
@HyjalHaven Can you create a demo project and reproduce this bugs, I'll look into that and try to find the cause. Share the repo/code with me.

[2018-07-13 01:52] HyjalHaven commented on #8
Sure, I'm going to do a demo this weekend. Hope I could find some hints.

[2018-08-14 08:16] liujunyi opened #9 "dva project demo?"

[2018-08-14 12:39] mzohaibqc commented on #9
Use https://github.com/mzohaibqc/antd-theme-generator for non create-create-react projects. It's pretty simple

[2018-08-14 16:44] gwmaster opened #10 "Missing file location settings for color.less"
hi fantastic plugin!!!!
i build my Multi Project Starter framework for build multiple projects that share same code and basic webpack configuration.
[multiprojectstarter](https://bitbucket.org/gwmaster_gwm/multiprojectstarter/src/master/)
and cant find way tell to antd-theme-webpack-plugin put  color.less file not to root else to specific folder location and i have .
to /dist/starterProject/color.

[2018-08-15 01:35] mzohaibqc commented on #10
@gwmaster you can use `publicPath` key to define relative path. Simply add `publicPath: "."` that will make it relative path "./color.less" instead of default "/color.less".
I hope that will help. Go through closed issues and you will find similar issues and their solution.

[2018-08-15 08:15] gwmaster commented on #10
ty    On Wednesday, August 15, 2018, 4:35:11 AM GMT+3, Zohaib Ijaz <notifications@github.com> wrote:

@gwmaster you can use publicPath key to define relative path. Simply add publicPath: "." that will make it relative path "./color.less" instead of default "/color.less".
I hope that will help. Go through closed issues and you will find similar issues and their solution.

—
You are receiving this b

[2018-08-15 16:47] gwmaster opened #11 "its passible change font pass 18px and no color? its didn't work for me"

[2018-08-15 18:30] mzohaibqc commented on #10
Add `publicPath: '/starterProject'` in plugin options/config.

[2018-08-15 21:28] gwmaster commented on #10
i set  publicPath: '.' and change all to relative now all work perfect colors changing . the problem that i try now to understand its why this not change the other params like size . its work https://github.com/less/less.js/issues/1488 but no in my project

[2018-08-16 09:54] gwmaster commented on #11
AntTheme.js run
window.less.modifyVars(vars)
http://gwmaster.byethost32.com/starterProject/

[2018-08-16 16:28] gwmaster commented on #10
where the limit as i see the less.js do support change other params
is there source code of extension to extend it and make other support

[2018-08-16 19:09] gwmaster commented on #10
https://github.com/less/less.js/issues/1488

[2018-08-16 20:06] mzohaibqc commented on #10
@gwmaster This plugin only allows to change color specific css styles. You can update any variable with less.js but you have to write your own code/logic to do this.
Again, this plugin is just about colors

![image](https://user-images.githubusercontent.com/13637803/44232219-ce7b2a00-a1b9-11e8-8415-44cb020ea697.png)

[2018-08-16 20:09] mzohaibqc commented on #11
No, only colors specific variables

[2018-08-16 20:09] #11 closed

[2018-08-16 20:10] #8 closed

[2018-08-25 13:45] #10 closed

[2018-08-28 02:20] chenshuai2144 opened #12 "Upgrade antd-theme-generator"
The antd-theme-generator package is written to death and needs to be upgraded to use the new features.
[code]

[2018-08-28 03:28] mzohaibqc commented on #12
Latest version has v1.1.3 has been deployed and contains two new features
1. Using Cache to improve performance
2. Added support to handle imports starting with `~` that's supported by webpack so now imports like `@import '~antd/lib.....'` will work

[2018-08-28 06:39] chenshuai2144 commented on #12
package.json id 1.1.6!

[2018-08-28 07:08] mzohaibqc commented on #12
Oh.. I got your point... I'll update this package today..

[2018-08-29 03:40] qizhancheng opened #13 "Using react-custom-scrollbars will always display scrollbars."
Using react-custom-scrollbars will always display scrollbars.
![image](https://user-images.githubusercontent.com/22724560/44764033-3cdbc700-ab80-11e8-8453-d2cb09e91357.png)

I don't know why and how to solve it.

[2018-08-29 07:37] qizhancheng commented on #6
@yogi0823 Hello, how do you solve this problem? Thank you

[2018-08-29 15:46] mzohaibqc commented on #12
@chenshuai2144 Updated antd-theme-generator dependency veriosn
Now lates version is `antd-theme-webpack-plugin@1.1.8`

![image](https://user-images.githubusercontent.com/13637803/44799105-979b1000-abcc-11e8-88bc-ae85e2746144.png)

[2018-08-29 15:47] #12 closed

[2018-09-27 07:38] liujunyi commented on #9
thank you! I try your code,it's ok in dev but it's failed after build. lost some less files.
in my code ,i did the following things.
<link rel="stylesheet/less" type="text/css" href="/color.less" />
<script>
  window.less = {
    async: false,
    env: 'production'
  };
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>
Now you

[2018-09-27 07:47] mzohaibqc commented on #9
@liujunyi Can you create a repo with sample code so that I can't look into that. This information is not sufficient to determine what's wrong. :)

[2018-10-15 10:10] #13 closed

[2018-10-19 08:49] wenchaoli opened #14 "customized styles missed in antd-init"
Hi, when I run **antd-init** project in your example folder by "**npm start**", I find that some properties pf the **.logo** styles are missed, for example "_width:xxx; height: xxx;_" but the **create-react-app** project works well.

I note that the webpackConfig object has some slight difference between them.
My project is **dva** based, which has the same problem with  **antd-init**, what's the

[2018-10-19 14:13] mzohaibqc commented on #14
@wenchaoli I've not work with `antd-init` but I'll look into that. Can you create a sample project to reproduce that bug from where I can start
@chenshuai2144 If you can spare some time to help him, that will be great

[2018-11-20 18:30] ilanus opened #16 "build failing with generateOnce: true"
Related: https://github.com/ant-design/ant-design-pro/issues/2891

Build with `generateOnce: true` will fail with this message:
(node:83568) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'colors' of undefined

There is a typo here: [@ant-design-pro](https://github.com/ant-design/ant-design-pro) https://github.com/ant-design/ant-design-pro/blob/master/config/plugin.config.js#L28

[2018-12-29 13:38] dreamerblue opened #17 "Is there a way to use it in umi project?"
[umi](https://github.com/umijs/umi) is a powerful framework for antd and dva users.

Now I'm using umi to develop and I don’t know is there a way to use the antd-theme-webpack-plugin in umi? The ability to modify less var dynamically is really important for our projects.

[2018-12-31 15:30] mzohaibqc commented on #17
@dreamerblue You can use core script instead of webpack plugin. Use this https://github.com/mzohaibqc/antd-theme-generator. Have a look at examples.
Here is sample code to generate `color.less` https://github.com/mzohaibqc/antd-theme-generator/blob/master/examples/create-react-app/color.js

[2019-01-16 09:30] nunoblue opened #18 "styles are overriding many times."
Thanks for your project.

My issue is all variable items are repeated 3 times in color.less.

![ant-theme-problem](https://user-images.githubusercontent.com/1445571/51239245-3083c980-19bc-11e9-8f8d-58f7170f1176.png)

[2019-01-16 11:52] mzohaibqc commented on #18
@nunoblue I'll look into this soon

[2019-01-16 23:17] mzohaibqc commented on #18
@nunoblue This is not due to this plugin. This is due to because you have imported some styles multiple times. I think you are manually importing Ant design styles in components' files. If that's the case, you need to fix your code otherwise create a repo and reproduce that so that I can review

[2019-01-18 06:14] nunoblue commented on #18
Ant Design styles imported in mainLessFile like below.
`@import '~antd/dist/antd.less';`
And some styles are override in other files.
I'll fix my code. Thank you for kind answer.

[2019-01-18 07:56] nunoblue commented on #18
@mzohaibqc I fixed it and it works well. Thanks!!!

[2019-01-18 07:56] #18 closed

[2019-01-19 11:41] #17 closed

[2019-01-26 06:37] fanqie opened #19 "${options.publicPath}/color.less 导致在非服务根目录下无法找到color.less"
<link rel="stylesheet/less" type="text/css" href="${options.publicPath}/color.less" />
${options.publicPath}/color.less 导致在非服务根目录下无法找到color.less
默认值是“”
按道理应该直接调用 homepage的配置，跟随系统配置而变化，其他所有路径在file协议下都没有问题，只有这个插件无法正常工作！

[2019-01-26 23:12] mzohaibqc commented on #19
You can simply move `color.less` file to directory where you want and it will work

[2019-01-29 16:22] #16 closed

[2019-03-01 02:11] drj17 opened #21 "Using a local version of less.js"
We've found that the cdn for less has been slowing requests to our application so we wanted to move to a local copy of it.  I'm having a pretty hard time getting that to work though.  I know you can give the options a lessUrl which i've done but I still get the error 'window.less.modifyVars' is not a function.

Any guidance on this issue?

[2019-03-01 12:03] mzohaibqc commented on #21
less is dependency for this plugin to you may try importing less. That may improve.

[code]

[2019-03-08 05:08] qingdengyue opened #22 "Webpack building will be terminated"
System Version: Windows 10 10.0.17134
Problem: Webpack building will be terminated
(May Be) Reasons:
Sometimes,the callback function of compiler.plugin  doesnt be executed. (its doesnt work in the Promise).webpack building will be terminated.

[2019-03-13 06:14] hughfenghen opened #23 "Plugin causes less mixin syntax compilation error 插件导致 less mixin 语法编译报错"
[code]
![image](https://user-images.githubusercontent.com/3307051/54257413-2df7b780-459a-11e9-8f4e-3a7507be7ad8.png)

相关issue：https://github.com/ant-design/ant-design-pro/issues/3335

[2019-03-14 00:39] mzohaibqc commented on #23
Are you sure this is correct syntax?
[code]

[2019-03-14 15:56] hughfenghen commented on #23
Code is correct，copy from [less.org](http://lesscss.org/features/#mixins-feature).

I try reproduce error with in `antd-theme-webpack-plugin/examples`, but `yarn run start` in  `create-react-app` throw a error: `Cannot find module react-scripts/config/webpack.config.dev`.

I try to reproduce the problem on weekends.

Maybe not cause by `antd-theme-webpack-plugin`, because I used `antd-theme-webpac

[2019-03-16 09:17] #23 closed

[2019-03-16 23:26] mzohaibqc commented on #23
@hughfenghen Thanks for sparing some time and adding a comment here to avoid confusion for other people. Really appreciated.

[2019-03-16 23:26] #2 closed

[2019-03-31 09:40] guoguo0202 opened #24 "can not use in antd-design-mobile"
RT:
[code]

[2019-04-29 08:27] kstar11 commented on #9
Hi! I got the same problem;
I new a project with dva-cli,and then add <script> tags in index.html;
when using window.less.modifyVars(),nothing hanppens;
hmm...my codebox [https://codesandbox.io/s/yqolo5x76z](https://codesandbox.io/s/yqolo5x76z)
thanks

[2019-04-29 20:05] mzohaibqc commented on #9
@kstar11 @liujunyi Kindly first create a dva-cli demo project with Ant Design configured. @kstar11 You codesandbox demo is not properly configured with Ant Design. Css is not working. First create a valid demo so I can try to configure theme plugin

[2019-04-30 08:41] kstar11 commented on #9
hmm...codescanbox doesn't works...
[https://github.com/kstar11/dva-antd-theme-generator](https://github.com/kstar11/dva-antd-theme-generator)
I created a github repo...
thanks

[2019-04-30 13:24] mzohaibqc commented on #9
I'll look into this

[2019-05-21 13:27] romangutkin opened #25 "Can not use the @menu-dark-arrow-color theme variable"
When i add the @menu-dark-arrow-color variable to the themeVariables array i get an error in the console: "variable @menu-dark-arrow-color0f6 is undefined".
[code]

I have looked in the color.less file where the error happened and saw:
[code]
I don't understand why but i think that when the colors.less file is evaluated the variable has not yet been defined.

[2019-05-22 23:35] mzohaibqc commented on #25
@romangutkin No, this is beacuase there is no such variable `@menu-dark-arrow-color0f6`. This some bug which is adding this extra `0f6` at the end of `@menu-dark-arrow-color` variable.

Is this `.ant-tag-pink`  your custom css class?

[2019-05-26 15:11] romangutkin commented on #25
@mzohaibqc Thanks for replying! I think that once i defined the @menu-dark-arrow-color as a dynamic less variable in my webpack config (using antd-theme-webpack-plugin) then it cant be parsed when the color.less file is being created. .ant-tag-pink is not my custom css class, i believe it is being generated by antd.

[2019-05-28 09:14] benjamingiraud commented on #25
Same with "@btn-primary-color"

[2019-05-28 09:21] benjamingiraud commented on #25
https://github.com/mzohaibqc/antd-theme-webpack-plugin/issues/4 fixed the problem for me

[2019-06-05 20:02] sli commented on #25
I'm having this issue with the same variable from #4 (@component-background), but I don't see a fix in that issue. I'm not using pure white or pure black anywhere, it's defined in variables.less, and it's listed in my rescripts config for use with react-app-rewire-antd-theme. The other variables I've configured are working, it's just that one that fails.

[2019-06-05 20:07] sli commented on #25
I figured out what's happening.

If any of your custom colors start with a SUBSET of an already-defined color, this bug will trigger. That means none of your custom colors can start with `#000` or `#fff` because those are already in use. So the tip to make a minor change to get around it (like using `#fffffe`) does not fix the problem, as that color value also triggered the bug. Changing the color

[2019-06-15 18:07] mzohaibqc commented on #25
@romangutkin @sli @benjamingiraud Thanks for reporting this issue. I know it's too late but I hope it will help you or at least others to avoid this issue. I've fixed and published a new version of this plugin

antd-theme-webpack-plugin@1.2.1

Or if someone is using core script it is `antd-theme-generator@1.1.7`

[2019-06-15 18:08] #25 closed

[2019-06-20 19:27] zomars opened #27 "Tapable.apply is deprecated. Call apply on the plugin directly instead"
According to [this issue](https://github.com/webpack/webpack/issues/6568). We are getting this warning when trying to use this plugin with webpack 4.3.

[2019-06-20 21:29] mzohaibqc commented on #27
@zomars I'll update my plugin soon. It is warning and not an error so if you can go with this warning, go for it otherwise wait for me to update this plugin

[2019-06-20 22:31] mzohaibqc commented on #27
@zomars I updated the plugin and now you will see such warning. Close the issue if your issue has been resolved after testing new version.

Install `antd-theme-webpack-plugin@1.3.0`

[2019-06-20 22:34] zomars commented on #27
Thanks, I'll test it an report ASAP 🙏

[2019-06-21 16:18] zomars commented on #27
The warning is gone. Thank you again! I'll close the issue now.

[2019-06-21 16:18] #27 closed

[2019-07-02 01:41] jamesmstone opened #28 "customize-cra"
Hi,
Firstly thank you, this looks like a really useful tool.
For `create-react-app` projects is it possible to use this with `customize-cra` instead of `react-app-rewired`, as `react-app-rewired` is now only "lightly" [maintained](https://github.com/timarney/react-app-rewired/issues/162#issuecomment-417872507).

[2019-07-02 01:46] jamesmstone commented on #28
If so, it would be great to also update the `create-react-app` [example](https://github.com/mzohaibqc/antd-theme-webpack-plugin/tree/master/examples/create-react-app)!

[2019-07-02 01:54] jamesmstone commented on #28
Another alternative might be [`craco`](https://github.com/sharegate/craco)] or in particular: [`craco-antd`](https://github.com/DocSpring/craco-antd).

[2019-07-03 00:16] mzohaibqc commented on #28
@jamesmstone Here are some hints, try this and if it works, update here so others can benefit from your learning

https://github.com/arackaf/customize-cra#addwebpackpluginplugin

[code]

[2019-07-18 11:49] Dppatra commented on #28
![Screenshot from 2019-07-18 17-16-27](https://user-images.githubusercontent.com/20948967/61455009-0c5f7000-a980-11e9-8e9a-575f029896f6.png)

This one is not working in  (customize-cra": "^0.4.1)

[2019-07-18 21:47] mzohaibqc commented on #28
@Dppatra You should have seen the docs. You are not using the correct case for function name. It is `addWebpackPlugin` and not `addwebpackpluginplugin`

https://github.com/arackaf/customize-cra/blob/master/api.md#addwebpackpluginplugin

[2019-07-21 13:07] jaceyi opened #29 "Word misspelling"
Path: examples/antd-init/styles/variables.less

@secondry-color => @secondary-color

[2019-07-21 14:53] mzohaibqc commented on #29
Thank you so much @jaceyi :)

[2019-08-16 09:52] vsai opened #30 "Implementation with webpacker for rails"
The configuration and examples provided are very much dependent on the create-react-app structure of files, and having a styles dir, index.html, etc.

I'm building a Rails App, which uses webpacker (which is basically a wrapper around the webpack runner). However, I'm not sure how to set up the options to be able to use this plugin.

Do you have any instructions/insight on how to implement this wi

[2019-08-16 13:07] mzohaibqc commented on #30
@vsai You can simply use core script to generate `color.less` file which will be imported in main html file.
 https://github.com/mzohaibqc/antd-theme-generator

[2019-08-17 11:01] vsai commented on #30
I'm not sure I get exactly what you mean.
With `antd-theme-generator` you don't need to integrate with webpack?

The main concern I had was regarding the options:
[code]

In my case, `stylesDir`, `varFile`, `mainLessFile` don't exist. Webpack can compile and output a `css` file to `public/packs/` directory (for rails project). And there is a `manifest.json` object that handles the mapping of `file

[2019-08-18 08:37] mzohaibqc commented on #30
@vsai here are my assumptions.
- You are using React with Ant Design as a component library
- You are bundling you javascript/react code using webpacker.
- There must be some node_modules folder that provides dependencies for your project like `antd`.
- There must be a folder containing your styles

You need to provide configurations for this script which contains
- antDir: an absolute path to ant

[2019-08-27 13:11] himadrinath opened #31 "SyntaxError: Inline JavaScript is not enabled. Is it set in your options?"
@mzohaibqc  `SyntaxError: Inline JavaScript is not enabled. Is it set in your options?
in color.less on line 122, column 1:

121// https://github.com/ant-design/ant-motion/issues/44
122.bezierEasingMixin();
123`

why getting this?

in browser

`callExtract: undefined
callLine: NaN
column: 0
extract: (3) ["// https://github.com/ant-design/ant-motion/issues/44", ".bezierEasingMixin();", ""]
filename

[2019-08-27 15:58] himadrinath commented on #31
@its working now

![dark_mode](https://user-images.githubusercontent.com/12247490/63787439-7240ff00-c911-11e9-8ba3-29f409adf485.gif)

before i tried with "//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" now with
"https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js" its working

[2019-08-27 15:58] #31 closed

[2019-08-27 20:59] mzohaibqc commented on #31
@himadrinath Have you read the documentation? It is heading in a short README.md file.
https://github.com/mzohaibqc/antd-theme-webpack-plugin#enable-javascript-for-less-loader

[2019-08-28 04:50] himadrinath commented on #31
@mzohaibqc  i fixed it the problem happen when i used
"https://cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"
change it to
"https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"

and the problem gone.  is their bug in 3.9.0 version

![dark_mode](https://user-images.githubusercontent.com/12247490/63826577-52472500-c97d-11e9-9cd1-319c145e7147.gif)

[2019-08-28 12:28] himadrinath commented on #21
I tried with npm less 3.10.3 I also tired with cdn 3.9.0 but only cdn 2.7.2 working

[2019-08-28 14:10] himadrinath commented on #21
npm less 3.10.3 is working. my bad

[2019-08-28 14:10] himadrinath commented on #31
also npm less 3.10.3 is working

[2019-08-28 21:11] mzohaibqc commented on #31
@himadrinath Awesome. like this repo and share with others. :)

[2019-08-28 21:55] himadrinath commented on #31
@mzohaibqc seeing some performance problem during chrome Dev audit. Performance reduction 50%

[2019-08-28 23:21] mzohaibqc commented on #31
there are two reasons
- less.js cdn and it's huge
- we are blocking rendering since we don't want users to see the theme transition from default to what we have selected and save in local storage or at some backend.

[2019-08-29 04:11] himadrinath commented on #31
@mzohaibqc i  am not using cdn and also didn't see any render blocking in Dev aduit. On the very first load of the page it print and then page goes blank and after that the page print again. And also I didn't save less into my local store.

[2019-09-03 03:34] qq281113270 commented on #25
So I can't use windo.less.modifyvars () to dynamically update my custom styles.
Because static style
Wiki - the title {
Color: red;
}.

covers
The wiki - the title {
Color: @ wiki - the title - color;
}
Dynamic style,

This is the antd-theme-webpack-plugin bug

[2019-09-03 06:25] qq281113270 commented on #25
So I can't use windo.less.modifyvars () to dynamically update my custom styles.
Because static style
Wiki - the title {
Color: red;
}.

covers
The wiki - the title {
Color: @ wiki - the title - color;
}
Dynamic style,

This is the antd-theme-webpack-plugin bug

[2019-09-04 21:49] mzohaibqc commented on #25
@qq281113270 I'll be happy to help you but first you need to explain it well, what's the bug. Read your own comment and see if it makes sense or not. e.g.
[code]
Is neither a valid css nor a text that conveys something.

So kindly explain bit more.

As for as custom variable is concerned, it works, see the example. https://github.com/mzohaibqc/antd-theme-webpack-plugin/blob/master/examples/create-

[2019-10-17 14:52] krypton100 opened #32 "after refresh，how can the app use new setting theme?"
I use react app and config-overrides.js, after refresh，theme go back default,  how can the app use new setting theme?

[2019-10-18 00:28] krypton100 commented on #32
use local storage

[2019-10-18 00:28] #32 closed

[2019-11-08 00:59] krypton100 opened #33 "can not change @layout-header-height ?"
can not change @layout-header-height ?

[2020-01-08 03:07] DarwinniwraD commented on #24
Maybe you need to load the default `colorPalette` from the `antd/lib/style/color/colorPalette.less`, like this:
[code]

[2020-01-09 02:06] guaijie opened #34 "can't change @primary-color at other less file"
## 1.  In `varFile` (variables.less):
[code]
## 2. Then i modify it:
[code]
## 3. use `@primary-color` at other less file
[code]
[code]

[code]

[2020-01-09 13:50] mzohaibqc commented on #34
@guaijie you need to use color code not the color name in order to make it work.
@primary-color: #FF0000;

[2020-01-09 13:52] mzohaibqc commented on #34
Also read complete Readme.md file in mzohaibqc/antd-theme-generator repo

[2020-01-10 00:17] mzohaibqc commented on #24
Thanks @DarwinniwraD for your help. @guoguo0202 above comment helped you, kindly mention here and close the issue. Otherwise this package is designed to work with ant design and not with any other ant design related project.

[2020-01-10 01:21] guaijie commented on #34
@mzohaibqc
i use color code that can't make it work too

[2020-01-10 01:37] guaijie commented on #34
1. webpack
[image: image.png]
[image: image.png]
2. theme.js
[image: image.png]
3. app.js
[image: image.png]

4. my less file
[image: image.png]

4. result
[image: image.png]

Zohaib Ijaz <notifications@github.com> 于2020年1月9日周四 下午9:52写道：

[2020-01-10 03:07] mzohaibqc commented on #34
@guaijie I can see, you are using **#fff** where it is clearly written in readme.md that  change such color codes slightly just as initial value. You can use #fff or #ffffff in modifyVars().

[2020-01-10 06:02] guaijie commented on #34
like this
[image: image.png]
but i can't change it too
I don't quite follow you

Zohaib Ijaz <notifications@github.com> 于2020年1月10日周五 上午11:07写道：

[2020-01-14 09:50] PAO200724 opened #35 "Cannot use in UMI"
I get a error below when I run 'umi dev':

×  error     Plugin user:node_modules/antd-theme-webpack-plugin/index.js in
itialize failed

Class constructor AntDesignThemePlugin cannot be invoked without 'new'
TypeError: Class constructor AntDesignThemePlugin cannot be invoked without
'new'

[2020-01-14 10:10] #35 closed

[2020-02-17 06:04] buquan opened #36 "GET http://localhost:3001/color.less 404 (Not Found)"
如果不是生产环境这个color.less找不到，事件触发会报错，同时index.html为什么还要引入less.js?

[2020-02-17 08:51] buquan commented on #28
addwebpackpluginplugin is not a function@ @mzohaibqc

[2020-02-17 12:20] buquan opened #37 "Starting the development server..."
使用customize-cra时addWebpackPlugin(new AntDesignThemePlugin(options))方法在npm start后一直卡在Starting the development server...之中，既不报错也跑不起来

[2020-02-17 12:20] #36 closed

[2020-02-18 01:20] mzohaibqc commented on #28
@buquan you should have seen the above comments. it's clearly saving it is `addWebpackPlugin` and not `addwebpackpluginplugin`.

https://github.com/arackaf/customize-cra/blob/master/api.md#addwebpackpluginplugin

[2020-02-18 01:20] #28 closed

[2020-02-18 01:26] buquan commented on #28
use addWebpackPlugin methods can't work , it  maintains 'Starting the development server...'

[2020-02-18 08:07] #33 closed

[2020-02-18 23:34] mzohaibqc commented on #28
@buquan I've not tried this my self, do some changes, see the docs, you may get success

[2020-02-21 14:59] claud-io opened #38 "using custom variables"
Hello, is there a way to use custom variables and not only variables coming from ant template?

Also, if i open the color.less file, i see that the code inside mainLessFile is repeted twice, how?

Thanks,

Claudio

[2020-02-22 20:07] mzohaibqc commented on #38
Yes, you can , see the example projects. there is a custom variable `secondary-color`.

[2020-02-26 22:55] chauser10 opened #39 "Modify non-color variables"
I am not able to modify `@border-radius-base`. I believe this is because antd-theme-generator filters these variables out.

Would it be possible to add this feature?

[2020-03-27 13:10] violabg commented on #38
it only works on the main less file. If you use a custom variable in an imported file it won't change when the theme changes only default and variables will

[2020-04-04 04:42] vKongv commented on #38
Same, having the same issues here.

This is a gif on the issue that I mentioned:
![changing-color-does-not-apply-to-less](https://user-images.githubusercontent.com/8760567/78418706-6d93b480-7671-11ea-9fe0-6eaf7023567d.gif)

Snippet of my source codes:

`Component.js`
[code]

`Component.module.less`
[code]

I tried using non-module less and it still doesn't work. I am new to LESS so I am not sure w

[2020-04-09 08:37] jokingzhang opened #40 "background-image 的地址被覆盖"
[demo地址](https://github.com/jokingzhang/antd-theme-demo)

### 问题描述

在less文件中，同时使用 `background-image` 和 `background-color` 属性，在 `background-image` 中使用 `antd` 变量，`background-image` 的地址被改写。

### 插件配置

[code]

### 问题截图

![clipboard_image_1586405142388](https://user-images.githubusercontent.com/10766546/78874871-a4a60380-7a7f-11ea-9400-9546e07cd43e.png)
![clipboard_image_1586405132852](https://user-ima

[2020-04-09 14:24] jokingzhang opened #41 "无法修改 node_modules 中其他使用 Antd 变量组件的 theme"
### 问题描述

我在项目，通过npm的方式，使用了一个基于Antd变量的组件。
如果 `node_modules` 中的其他组件使用了Antd的变量，那么当调用 `window.less.modifyVars(vars)` 修改变量之后，`node_modules` 中组件的样式不会生效。

### 示例地址

- [演示项目：antd-theme-demo](https://github.com/jokingzhang/antd-theme-demo)
- [单个组件地址：antd-v3-simple-switch](https://github.com/jokingzhang/antd-v3-simple-switch)

### 插件配置

[code]
### 问题截图
运行项目，打开 http://localhost:3066/comp/switch ，可以看到示例效果：
!

[2020-04-14 09:45] seedlinktech-william commented on #24
Hey, I have the same issue while trying to using this plugin with `antd-mobile`.  Seems there's no `colorPalette` in the ant design mobile version.  So, I think this plugin may not work for `antd-mobile` yet.

[2020-04-15 21:05] mzohaibqc commented on #39
This plugin is just for color-based variables and doing that is too complex and out of scope. If you can add that functionality, PRs are welcomed

[2020-04-15 21:05] #39 closed

[2020-04-15 21:07] mzohaibqc commented on #38
If you want to update the imported variable then simply add that variable in main.less/index.less and assign the default value

[2020-04-15 21:07] mzohaibqc commented on #38
Also this does not work with css-modules

[2020-04-15 21:13] mzohaibqc commented on #37
try using this configuration with some updates as per your requirements

[code]

[2020-04-15 21:19] mzohaibqc commented on #41
This is because you have not imported antd less styles in your main styles.less file

do this at the top of your styles.less or which ever is the main less file

[code]

[2020-04-16 02:14] jokingzhang commented on #41
It's not work.

[2020-04-17 14:35] jokingzhang commented on #41
我在 `mainLessFile` 文件中，引入了第三方库的less文件，问题解决了

[2020-04-17 14:35] #41 closed

[2020-04-20 08:18] huxiany commented on #41
可以分享一下解决方案吗？

[2020-04-20 09:05] jokingzhang commented on #41
`mainLessFile` 这个less文件中，只要引入所有需要改变变量的less文件即可
包含antd，以及三方库的。

[2020-04-20 09:41] huxiany commented on #41
好的，谢谢你的分享！

[2020-04-24 04:48] hanalice opened #42 "why can't I set @font-size-base to customize the font-size."
// vue.config.js
confireWebpack: {
plugins: [new AntDesignTHemePlugin({
            antDir: path.join(__dirname, './node_modules/ant-design-vue'),
            stylesDir: path.join(__dirname, './src/assets/theme'),
            varFile: path.join(__dirname, './src/assets/theme/variables.less'),
            mainLessFile: path.join(__dirname, './src/assets/theme/index.less'),
            outputFilePat

[2020-04-25 09:55] mzohaibqc commented on #42
@hanalice Have you read the docs?
[code]

[2020-04-25 09:55] #42 closed

[2020-04-25 13:01] mzohaibqc commented on #41
@huxiany I don't understand chinees and hence most of the world so kindly describe your issue in English language

[2020-04-25 13:03] mzohaibqc commented on #41
@huxiany @jokingzhang I've fixed two bugs related to background-image and background with value as `url(some url)` that might help
`antd-theme-webpack-plugin@1.3.3`

[2020-04-25 13:21] jokingzhang commented on #41
I'll be careful to use English later. Thank you for solving the problem.

[2020-04-25 16:05] mzohaibqc commented on #41
So your issue has been fixed by using updated version?

[2020-04-25 18:16] rszemplinski opened #44 "How to switch between dark and light mode?"
Hi,

New to this whole themeing thing. I want to dynamically change colors but also be able to use the new Ant Design Dark mode whenever a user wants to. How would I do this with your system?

Here is my current `config-override.js` file:

[code]

[2020-04-25 18:32] mzohaibqc commented on #40
@jokingzhang This issue has been fixed now. Use the latest version which is `antd-theme-webpack-plugin@1.3.2` at the time of writing this.

[2020-04-25 18:32] #40 closed

[2020-04-26 03:18] hanalice commented on #38
I define the custom variable in main.less files, but in the color.less file, I didn't see the custom variables, but the defiend class using custom variable has been interpreted into css.

[2020-04-26 05:26] hanalice commented on #41
@jokingzhang what's the meaning of your solution?

[2020-04-26 08:55] jokingzhang commented on #41
Yes, problem solved.

[2020-04-26 08:56] jokingzhang commented on #41
update to `antd-theme-webpack-plugin@1.3.3`

[2020-04-26 10:19] hanalice commented on #41
thanks for your response，I will try later.

[2020-04-26 13:05] vreddy448 commented on #44
i am searching for the same. not able to achieve. Can someone please suggest a way to proceed on this theme switch

[2020-04-26 14:39] mzohaibqc commented on #44
@rszemplinski @vreddy448 Let me check how you can achieve this.

[2020-04-26 14:53] mzohaibqc commented on #38
@hanalice Show me your configuration for plugin

[2020-04-26 17:52] rszemplinski commented on #44
@mzohaibqc extremely appreciate that!

[2020-04-27 01:39] mzohaibqc commented on #44
@rszemplinski @vreddy448 I'm in process of creating a sample project using this plugin. In the meanwhile, you can have a look at how I implemented this using base script for this plugin i.e. `antd-theme-generator@1.2.2`

Here is demo project
https://github.com/mzohaibqc/antd-theme-generator/tree/master/examples/customize-cra

I've updated the plugin and you can use updated version which is `antd-t

[2020-04-27 02:29] hanalice commented on #38
I will show the passed complication code(Question2):
index.less
![image](https://user-images.githubusercontent.com/18046501/80328410-d71e7180-8871-11ea-92ca-c3e7f2179de9.png)
variables.less
![image](https://user-images.githubusercontent.com/18046501/80328430-e69dba80-8871-11ea-965a-08d6c56aac34.png)
vue.config.js
![image](https://user-images.githubusercontent.com/18046501/80328455-f4ebd680-8871-11

[2020-04-27 23:24] mzohaibqc commented on #38
@hanalice you have not declared your variable in `variables.less` file which is required. All variables that you want to update dynamically must be in your variables.less file which you are passing in plugin options

[2020-04-28 04:21] hanalice commented on #38
in Question2， I didn't declare custom variables in `variables.less`, I decalre the custom variables in `index.less`, which is the mainLess file. In this case, class using custom variables will interpreted into the detail value multiple times, which cann't be changed in runtime.

in Question1, I did declare custom variables in `variables.less`, but the compliation failed.  But now it works well,  I

[2020-04-28 15:25] vKongv commented on #38
Yeah I already did that. That's why the antd button is changing color but mine one which is using the custom variable is not changing the color.

I tried without module and it still doesn't work.

I ended up switching to use emotion as a theming solution for my component that is not using AntD.

[2020-04-28 16:19] mzohaibqc commented on #38
Can you try using a hex code instead of `rgb()`

[2020-04-28 16:22] mzohaibqc commented on #24
You can try copying `colorPalette` code from ant design source code and put it in your main.less file

[2020-04-29 06:11] Clrs-D opened #45 "can't yarn serve"
项目卡在 95% emitting AntDesignThemePlugin ，启不起来，而且装完 antd-theme-webpack-plugin 依赖后，导致 vue-i18n 用不了，请问有遇到过类似问题吗

[2020-04-29 14:26] mzohaibqc commented on #45
I don't understand Chinees, kindly describe your issue in English

[2020-04-29 15:35] lichnow opened #46 "Inline JavaScript is not enabled. Is it set in your options?"
已经`javascriptEnabled: true`了，可还是出现`Inline JavaScript is not enabled. Is it set in your options?`这样的错误，无法识别`color.less`中的js函数是什么原因呢？（用less v2版本没问题）
如果不用动态主题，只是自定义antd，是正常的
loader
[code]
插件
[code]
`getThemeOptions(config)`生成的配置
[code]
在devmiddlware下运行 `less.min.js`以及`color.less`都能正常访问，就是`color.less`出现`Inline JavaScript is not enabled`这样的错误

[2020-04-29 16:31] NicoP-tickitto opened #47 "changing non color variables dynamically"
Hi,
So I am trying to create a new theme that can be changed at runtime. I believe I have it working as I am able to change @primary-color at runtime, so that is all good. Although I can not change other variables such as @card-radius.

Does this library only support color variables? Is there a way around this?

How I am changing the variables:

`    window.less.modifyVars({ '@primary-color': 'gre

[2020-04-29 17:26] mzohaibqc commented on #46
Seems like your issue with your less-loader configurations

[2020-04-29 17:27] mzohaibqc commented on #47
This is not in the scope of this plugin. This is just for color related variables and adding logic for other type of variables can be possible but I don't have time to do that. Any PRs are most welcome.

[2020-04-29 17:27] #47 closed

[2020-04-29 17:39] rszemplinski commented on #44
Not to pester, but will you be posting that sample code sometime soon? @mzohaibqc

[2020-04-30 04:36] lichnow commented on #46
@mzohaibqc  href less file can not work on less 3.x version(my less-loader config is right),so I install `@type/less`,and use like
``
useEffect(() => {
        less.modifyVars(current.vars)
            .then(() => saveLocalTheme(current.name))
            .catch((error: any) => {
                console.log(error);
                message.error(`Failed to change theme`);
            });
    }, [cu

[2020-04-30 11:07] CY3ER-C0D3R commented on #8
Is there anything new on this issue? Doesn't work for me either 🤕

[2020-04-30 12:29] mzohaibqc commented on #44
@rszemplinski It is ready, I'll post soon

[2020-04-30 20:28] lichnow commented on #21
@himadrinath I try less3.x(2.x is work fine),but no matter whether it is `import less from 'less'` or URL,I can't use `less .modifyVars` , has an error of chrome devtools `Inline JavaScript is not enabled. Is it set in your options?`
how you let it work fine

[2020-05-01 02:24] himadrinath commented on #21
@lichnow
[code]

[visit this more details](http://lesscss.org/usage/#using-less-in-the-browser-setting-options)

[2020-05-01 02:44] mzohaibqc commented on #8
@CY3ER-C0D3R @HyjalHaven Have a look at this demo
https://mzohaibqc.github.io/antd-theme-webpack-plugin/index.html

Here is the code, this might help you, how to setup

https://github.com/mzohaibqc/antd-theme-webpack-plugin/tree/master/examples/customize-cra

[2020-05-01 02:54] mzohaibqc commented on #44
@rszemplinski @vreddy448 Here is a demo
https://mzohaibqc.github.io/antd-theme-webpack-plugin/index.html

And here is code for this demo
https://github.com/mzohaibqc/antd-theme-webpack-plugin/tree/master/examples/customize-cra

# Note: you don't necessarily need `customize-cra` package to achieve this. Anything to inject this plugin in webpack configurations.

[2020-05-01 02:55] mzohaibqc commented on #44
Let me know if you still have issues implementing this

[2020-05-01 03:01] mzohaibqc commented on #38
@hanalice @vKongv

All variables that you want to update must be in `variables.less` file with unique values.
You must provide array of those variable names that you want to update later in plugin configuration under `themeVariables: ['@primary-color']` like this.

Here is a demo for Dark/Light theme
https://mzohaibqc.github.io/antd-theme-webpack-plugin/index.html

And here is code for this demo
h

[2020-05-01 14:51] mzohaibqc commented on #46
Can you create a sample project and reproduce this issue. I'll look into that.
First thing, try `less@2.7.2` which you are importing in `index.html` file or use this cdn url which I am using in different examples `https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js`

[2020-05-01 15:02] rszemplinski commented on #44
@mzohaibqc thank you so much for doing all of this. I won't be able to work on this right away but will let you know if something comes up when I do begin to work on it.

One quick question though, with that new `customize-cra` project, what generates the `color.less` file since your `package.json` `start` command doesn't run that `color.js` file anymore. Is it something you just run once and then

[2020-05-01 15:39] mzohaibqc commented on #44
Ok, one thing to understand, one you are using `antd-theme-generator` package which is core script for this `antd-theme-webpack-plugin`, then you need to create a `color.js` or whatever you want to name it which when executed will produce `color.less` which you need to put in public or some directory and access it in index.html file. But when you use this webpack plugin, it does everything for you

[2020-05-01 15:44] mzohaibqc commented on #28
@jamesmstone @buquan Here is a demo using `customize-cra`
https://mzohaibqc.github.io/antd-theme-webpack-plugin/index.html

And here is code for this demo
https://github.com/mzohaibqc/antd-theme-webpack-plugin/tree/master/examples/customize-cra

[2020-05-01 15:56] rszemplinski commented on #44
So based off what you just said, in the customize-cra project that you used as an example, should you even have the `color.js` file and `index.html` file with the `color.less` header in there?

[2020-05-01 16:18] mzohaibqc commented on #44
I first implemented this using base script and then copied the same project and added required changes. You can remove color.js and lessjs import in index.html file

[2020-05-01 17:10] rszemplinski commented on #44
Awesome, this should be easy enough to implement based off what I've seen. Thanks again for doing this!

[2020-05-01 22:58] mzohaibqc commented on #45
@Clrs-D Kindly share your code, plugin configurations, and some details about your issue.

[2020-05-05 16:29] #44 closed

[2020-05-05 16:43] zcmgyu opened #49 "Some component's color isn't updated in light theme."
**Describe the bug**

I tried `customize-cra` example, I realized that the component's color (hover button, progress bar, hover link color) is not updated but using default color in `light` theme. And selected item in the `Select` component is not updated in the dark theme as well.

**Show your code**

https://github.com/mzohaibqc/antd-theme-webpack-plugin/blob/master/examples/customize-cra/config

[2020-05-06 03:48] lichnow commented on #46
@mzohaibqc my less version is **3.x**,so it can't work fine.how to let `/color.less` work in 3.x,so  `/color.less` can work with the less.js which of less-loader's used(I config the webpack copy plugin let /node_modules/less/dist/less.min.js auto copy to dist/public dir)?

[2020-05-06 10:15] mzohaibqc commented on #46
I think, there is an issue with using less3.x with ant design specific less styles and function so I would say, start using less@2.7.2 a CDN or simply download that file in your public folder and import from there. I'll update if there will any progress on this issue.

[2020-05-06 10:15] #46 closed

[2020-05-07 00:57] mzohaibqc commented on #49
@zcmgyu It's due to the fact that there is no separate color variable for handling `selected` option color for select so it's not available in dark theme (provided by Ant Design) as well so you can create a custom variable and assign that variable to that specific style like

[code]

Here is commit for al changes required for this fix and you can do the similar fix yourself for any other mismatch,

[2020-05-07 01:33] mzohaibqc commented on #49
@zcmgyu Here is demo
https://mzohaibqc.github.io/antd-theme-webpack-plugin/index.html

[2020-05-07 02:18] zcmgyu commented on #49
@mzohaibqc Hi, I think that it was really helpful. Thanks for your update

[2020-05-07 02:18] #49 closed

[2020-05-18 09:33] regevaz commented on #49
@mzohaibqc - can you explain why in the example at https://mzohaibqc.github.io/antd-theme-webpack-plugin/index.html when changing the value of `@btn-primary-bg` it has no effect?

[2020-05-18 12:08] mzohaibqc commented on #49
@regevaz Wait for 1 day and I'll publish a new version with major improvements, bugs fixes and without limitation of using unique 6 digit hex colors. You could use any color or color variable or variables like `@btn-primary-bg: darken(@primary-color, 10)` etc.

Hopefully, I'll publish a new version within the next 24 hours from now

[2020-05-18 12:11] mzohaibqc commented on #49
@regevaz Answer to your question is that, your `@btn-primary-bg` has same value as `@primary-color` (not unique) which is causing this issue. For time being (before release of new version), assign a different value to your button variable in `variables.less` file and it will work but again, this will be fixed in next version.

[2020-05-19 16:05] regevaz commented on #49
@mzohaibqc any update regarding the new version? I noticed that some of the issues I had in my app were resolved when using the master. When are you planning to release the new version on npm?

[2020-05-19 18:55] mzohaibqc commented on #49
@regevaz yes, new version is available `antd-theme-webpack-plugin@1.3.5` at the time of writing this.

In order to fix button color issue, here are steps

- add respective variable in your variable file `variables.less` or whatever is name
[code]
- Add this variable in `themeVars`,
[code]

Here is complete `config-overrides.js`, see the updated example here

https://github.com/mzohaibqc/antd-theme

[2020-05-21 05:34] regevaz commented on #49
@mzohaibqc thank you for the answers and indeed it helped. I'm using the plugin now from the master branch, any chance you're going to update the npm package? currently, the latest at https://www.npmjs.com/package/antd-theme-webpack-plugin is 1.3.4 which doesn't include the latest fixes. Can you create please 1.3.5 with all the latest fixes?

[2020-05-21 10:02] mzohaibqc commented on #49
@regevaz there is no change in master that has not been deployed to npm. New version just has updated antd-theme-generator version i.e 1.2.3 and master has same dependency. Just install v1.3.4 and compre index.js and package.json in node_module/andt-theme-webpack-plugin directory and from master

If you find any difference, let me know.

[2020-06-10 06:52] Robin-zero opened #54 "Used in antdv, got some wrong styles"
**Describe the bug**
Used in antdv, but got some wrong styles in the color.less. I don't know where it comes from, although I have checked the various style files.

**Show your code**
[code]
vue.config.js
[code]

**Screenshots**
Right Style should be like this:
![image](https://user-images.githubusercontent.com/22169252/84235968-6da8a880-ab29-11ea-921c-99506f79402c.png)

Wrong style like this:
![i

[2020-06-12 18:14] #45 closed

[2020-06-18 23:29] rollingstone commented on #24
it seems that it only happens when antd.less is imported  in multiple .less files. if I import antd.less in only one less file (say App.less), the problem disappears!

[2020-06-25 06:23] barbarossusuz opened #55 "color.less file not found in production (404)"
In production, app cannot find any color.less file (https://mysite.com/color.less 404) but in development there is no problem, everything works fine.
Is there any idea why this is happening.

**Show your code**

[code]

**Version**
"antd-theme-generator": "^1.2.4",
"antd-theme-webpack-plugin": "^1.3.6",
 "less": "2.7.2",
 "antd": "^4.2.0",

[2020-07-03 07:05] mzohaibqc commented on #55
There must be some issue with your website configuration or path at which app is deployed.

e.g. if your app is deployed at `https://somedomain.com/myapp` then you need to prepend `/myapp` before color.less path. so it will be

This can be achieved my using paramter `publicPath: '/myapp'`

[code]

[2020-07-08 11:39] barbarossusuz commented on #55
You are awesome thank you for response, it did work.
However, I am faced with a new problem.

When browser trying to call color.less, in response preview says "You need to enable JavaScript to run this app."
<img width="582" alt="Screen Shot 2020-07-08 at 14 29 09" src="https://user-images.githubusercontent.com/21311371/86914012-3decc080-c128-11ea-8237-6dc9b947f388.png">
but i have already activat

[2020-07-10 09:32] mzohaibqc commented on #55
@barbarossusuz No idea.

I would say, just copy the example code and see if it works or not.

[2020-07-15 02:49] yanlee26 commented on #55
I do not think this is a good solution

[2020-07-15 22:21] mzohaibqc commented on #55
@yanlee26 Do you have an alternate/better solution?

[2020-07-17 03:05] ningstudy opened #56 "how to change dark theme?"
I don't understand your demo's code haha .

[2020-07-23 00:42] luocong2016 opened #58 "Can it be used in vant？"
**Describe the bug**
Can it be used in vant？

**Show your code**
reference resources： https://www.jianshu.com/p/a42f58fc3f92

**Screenshots**
-

**Version**
vant 2.9.0

[2020-07-23 08:52] mzohaibqc commented on #58
I will look into this

[2020-08-16 18:59] popmanhe opened #61 "empty color.less"
**Describe the bug**
color.less file is empty

**Show your code**
**webpack.config**
[code]
variables.less
[code]
The above worked fine with ant 3.x.  I don't know if it's because I moved to 4.x

The issues is when webpack compiling the code, it complaints about ceil function that first arg must be number.
@font-size-base soimetimes is random color code, like #405e3f. I don't know why. But @font-s

[2020-08-20 07:35] na5tyk opened #62 "W3 Error"
**Describe the bug**
The implementation of color.less causes an error in the W3 validator. Exists solution to remove error from W3 Validator?

**Show your code**
Code added to index.html
[code]
Error:
[code]
**Version**
antd-theme-webpack-plugin: 1.2.0

[2020-08-29 03:20] rayvikram opened #63 "Create React App Example not working"
**Describe the bug**
Example in create react app is not working with npm or yarn.

**Show your code**
No code changes done

**Screenshots**
`callExtract: undefined
callLine: NaN
column: 32
extract: Array(3)
0: "@link-color             : @primary-color;"
1: "@link-hover-color       : color(~`colorPalette("@{link-color}", 5)`);"
2: "@link-active-color      : color(~`colorPalette("@{link-color}", 7)`

[2020-08-29 14:13] mzohaibqc commented on #63
Do you need create-react-app example or example using `react-app-rewired` ? Since `customize-cra` example is actually a create-react-project and customize-cra is being used to overridde webpack config. I recommend using that example since that is upto date and will be maintained in future.

[2020-08-29 14:51] mzohaibqc commented on #61
@popmanhe Just use color based variables in your variables.less file or create another one like colors.less or theme.less and then read variables from there

[2020-08-29 14:57] mzohaibqc commented on #61
I tried adding `@font-size-base: 14px;` in my variables file in working example so when I restarted server, it did not work. So again, as I mentioned in above comment, use separate file for color based variables

[2020-08-29 14:58] #56 closed

[2020-08-29 14:59] #55 closed

[2020-08-29 15:03] #38 closed

[2020-08-29 15:03] #37 closed

[2020-08-29 15:05] mzohaibqc commented on #54
@Robin-zero Have you tried latest version? Let me know if you were able to resolve this or not?

[2020-08-29 15:05] #34 closed

[2020-08-29 15:09] mzohaibqc commented on #30
@vsai Have you been able to resolve your issue?

[2020-08-30 06:10] vsai commented on #30
Yes. Thanks

[2020-08-30 10:45] rayvikram commented on #63
Yes I tried `customize-cra` it is working. Thanks for it.

[2020-08-30 10:45] rayvikram commented on #63
Yes I tried customize-cra it is working. Thanks for it.

[2020-08-30 10:45] rayvikram commented on #63
Yes I tried customize-cra it is working. Thanks for it.

[2020-08-30 10:45] #63 closed

[2020-08-30 14:54] #30 closed

[2020-08-30 14:56] mzohaibqc commented on #63
@rayvikram good to hear that

[2020-09-02 05:55] hyzhangs opened #64 "error evaluating function `ceil`: argument must be a number"
**Describe the bug**

切换主体并没有改变样式，并且color.less是一个空白文件

**Show your code**
`const paletteLess = fs.readFileSync('./src/common/style/variable.less', 'utf8');`
`const variables = lessToJs(paletteLess);`
`exports.antdTheme = (options = {`
  `  antDir: path.join(__dirname, './node_modules/antd'),`
  `  stylesDir: path.join(__dirname, './src/common/style'),`
  `  varFile: path.join(__dirname, './src/com

[2020-09-02 08:27] hyzhangs commented on #64
不知道为啥回去检索antf的所有less文件 ，当遇到计算函数里面含有变量的时候就会报错

[2020-09-03 06:54] #64 closed

[2020-09-15 08:13] hupoo opened #68 "cant handle less alias in css-mosules"
**Describe the bug**
Describe your bug in English language
in less file  , i import common less file like this `@import '~assets/css/var.less'`  complier error say cant find module  'assets/css/var.less' , Can not correctly identify the relative path of resources

**Show your code**
Show your `config-overrides.js` file and styles folder structure

**Screenshots**
If applicable, add screenshots to

[2020-09-16 07:00] mzohaibqc commented on #68
@hupoo this is something that needs to be added. Any PR is welcome. However, I will try to look into this on coming weekend.

[2020-10-15 04:01] tandat2209 opened #69 "Input box-shadow changes every compile."
**Describe the bug**

1. Clone the example of customized-cra, install & run the example.
2. Focus on an input. You will notice `.ant-input:focus` has the `box-shadow`. But the color will change everytime you run the example again.

I get different `box-shadow` values:
`box-shadow: 0 0 0 2px rgba(230, 90, 98, 0.2);`
`box-shadow: 0 0 0 2px rgba(245, 72, 235, 0.2);`
`box-shadow: 0 0 0 2px rgba(231, 6

[2020-10-15 09:33] mzohaibqc commented on #69
Yeah, that is bug and I'll fix this soon. Hopefully today

[2020-10-18 03:58] XuJin186 opened #70 "craco introduction of ‘antd-theme-webpack-plugin’ has no effect"
**Describe the bug**
Craco's introduction of ‘antd-theme-webpack-plugin’ has no effect
**Show your code**
`const path = require("path");
const { BundleAnalyzerPlugin } = require("webpack-bundle-analyzer");

const AntdDayjsWebpackPlugin = require("antd-dayjs-webpack-plugin");
const ProgressBarPlugin = require("progress-bar-webpack-plugin");
const AntDesignPlugin = require("craco-antd");
const getCS

[2020-10-18 18:57] mzohaibqc commented on #69
@tandat2209 This issue has been fixed new release antd-theme-webpack-plugin@1.3.7

For users using `antd-theme-generator` core script, it has been fixed in `antd-theme-generator@1.2.7`

Slider handle active color had same issue but it has been fixed now

https://github.com/ant-design/ant-design/issues/20079 has been fixed

[2020-10-18 19:26] mzohaibqc commented on #70
Seems like you are using css-modules which is not supported yet.

[2020-10-18 19:30] mzohaibqc commented on #68
@hupoo If you will add `~` before path, code will resolve this path to node_modules like

'path_to_node_modules/assets/css/var.less'

Removed `~` and use right absolute or relative path.

[2020-10-19 02:41] XuJin186 commented on #70
Through debugging, it was found that the index.html file was not found. In fact, the html plug-in of webpack has not been called. Just change the order of the plug-ins.

[2020-10-19 02:41] #70 closed

[2020-10-23 03:01] Yovven opened #71 "./node_modules/ant-design-vue/lib/style/themes could not find dark.less and compact.less"
**Describe the bug**
./node_modules/ant-design-vue/lib/style/themes could not find dark.less and compact.less, only has default.less and index.less

**Show your code**
config-overrides.js the same as the demo's, but  change some paths

**Version**
ant-design-vue@1.5.3
ant-theme-webpack-plugin@1.3.6

[2020-10-23 06:53] mzohaibqc commented on #71
@Yovven this is `ant-design-vue` issue, actually a feature request.

However, still you can use this package without a dark theme.

[2020-10-23 07:09] Yovven commented on #71
OK. I want to use two theme like  customize-cra demo

[2020-10-23 07:27] mzohaibqc commented on #71
You can create dark theme but it might take your few (2-3) days to fix all issues. Idea is to override all variables with colors which suits dark theme. You can simply start by copying dark.less from antd for react and then see which variables are not being used in ant-design-vue package and remove them.

Some components color will not change so you have to override that css/less with your own les

[2020-11-11 14:24] hmz22 opened #72 "Switch theme to dark mode menu item select background problem."
**Describe the bug**
Hello .
I Have some issue with menu item selected background color in dark mode.

**Show your code**
[code]

**Screenshots**
In this image can see menu item selected background dark mode not changed.
![Capture](https://user-images.githubusercontent.com/36853974/98822315-ef3c9380-2445-11eb-92fb-e53a47fee0ea.PNG)

**Version**
antd-theme-webpack-plugin@1.3.7

[2020-11-11 15:25] hmz22 commented on #72
I change code but not work. :(

Code:
[code]

image result:

![Capture](https://user-images.githubusercontent.com/36853974/98830205-5f9be280-244f-11eb-9580-0974dd14d538.PNG)

please help.

[2020-11-11 17:49] hmz22 commented on #72
Can tell me how fix it or wait for update?

[2020-11-11 21:59] mzohaibqc commented on #72
@hmz22 show me your less code where you overridden menu styles using your custom variable

[2020-11-12 07:00] hmz22 commented on #72
@mzohaibqc  this vars.less:
[code]

[2020-11-12 07:39] mzohaibqc commented on #72
@hmz22 i know there is issue in example but you are not following what I told you.

I asked you to override menu styles in your style files  like

.ant-menu .ant-menu-item-selected {
   background-color: @menu-selected-item-bg;
}

I am not sure about the above class names so fix it by yourself.

Then add this variable in variables.less

And follow same steps as in my first comment

[2020-11-12 09:08] hmz22 commented on #72
@mzohaibqc  I just add this variable in vars.less

[code]

and create new main.less and import in app.js

[code]

![Capture](https://user-images.githubusercontent.com/36853974/98919221-ccf95300-24e3-11eb-832e-1294697adb6f.PNG)

and fix. that's right?

[2020-11-13 19:22] mzohaibqc commented on #72
@hmz22 Yeah, you did it 👍

For all similar issues related to dark theme, follow the steps what I mentioned in my first comment in this thread and hopefully you will be abel to fix it.

[2020-11-15 19:12] #72 closed

[2020-11-27 06:43] jaryway commented on #61
it seems that adding  @import "~antd/es/style/themes/default.less" in variables.less file will cause this problem.
when i comments it.every thing is fine.
[code]
![image](https://user-images.githubusercontent.com/5987056/100419036-aaa82d80-30be-11eb-9869-1e1e7c9f2813.png)

[2020-11-28 16:08] mzohaibqc commented on #61
So everything is working fine now?

[2020-12-04 09:08] bobbui opened #73 "Problem when define a custom less variable"
**Describe the bug**
[code]
**Show your code**
## webpack.config.js
[code]
## **./src/variables.less**
[code]
## ./src/style.less
[code]
#

**Version**
1.3.7

[2020-12-04 09:33] bobbui commented on #73
managed to solve, turn out this cause the problem
[code]

[2020-12-04 09:33] #73 closed

[2020-12-17 09:21] Donaldgljh opened #74 "The index.html file in the built file was opened without loading the color.less file"
**Describe the bug**
Describe your bug in English language

**Show your code**
Show your `config-overrides.js` file and styles folder structure

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version**
Which version is installed in your application? Try using the latest version, that may help

[2020-12-23 09:14] SinHide commented on #61
Similar configuration is also appear this issue.

[2020-12-24 08:24] SinHide opened #75 "error evaluating function `fade`: color.toHSL is not a function"
**Describe the bug**
Use this plugin will occur lessError when install new version's ant-design.

**Show your code**
Same as custom-cra demo.

**Screenshots**
error [LessError: error evaluating function `fade`: color.toHSL is not a function] {
  stack: undefined,
  type: 'Runtime',
  filename: 'input',
  index: 222509,
  line: 8926,
  column: 17,
  callLine: NaN,
  callExtract: undefined,
  extrac

[2020-12-25 06:32] SinHide commented on #75
I find the problem, this will appear when I rewrite theme variables includes @white and @black.
This problem cause generating color.less abnormally.

[2021-01-05 11:08] ko06 commented on #75
solution please?

[2021-01-05 16:56] mzohaibqc commented on #75
@ko06 don't use #fff, #ffffff, #000, #000000 color as variables you want to update. Don't put them in variables.less file which are you using with this plugin

[2021-01-19 00:00] rafaelncarvalho commented on #21
In your options you can add this line

`lessUrl: '/less.min.js',`

then add the less file inside the public folder

[2021-01-26 12:08] MarkLyck opened #79 "Error: Cannot find module 'antd-theme-generator'"
**Describe the bug**

When attempting to run either of the create-react-app examples I get the following error:

[code]

Reproduction:
- git pull this repositoy.
- navigate to /examples/customize-cra
- run `npm i`
- run `npm start`

I tried to manually install the `antd-theme-generator` module. But that didn't fix it.

I checked node_modules and surer enough, `antd-theme-generator` is in there, an

[2021-02-01 05:55] wangxiaocuo commented on #61
I also had this problem.

[2021-02-05 17:57] mzohaibqc commented on #79
@MarkLyck I've updated code as well as `cusotmize-cra` example. Have a look, hopefully you will not face this issue now.

[2021-02-08 02:13] zhouccccc opened #80 "addAssets = (compilation, assets, callback), SyntaxError: Unexpected token ="
**Describe the bug**
My FE project is based on umi.js, recently my team want build project on the cloud but found this problem, But when I changed the plugin version to 1.3.7, everything run well

**Show your code**
`config.plugin('ant-design-theme').use(AntDesignThemePlugin, [
      {
        antDir: path.join(__dirname, '../node_modules/antd'),
        stylesDir,
        varFile: path.join(__dir

[2021-02-08 02:17] zhouccccc commented on #80
BTW. Build job on the mac is OK

[2021-02-08 06:32] rimwoorim commented on #80
我也是遇到同样的问题

[2021-02-08 06:49] zhouccccc commented on #80
You can change the plugin version to 1.3.7
I think it will works!

[2021-02-08 09:05] mzohaibqc commented on #80
@JoeCMorgan New changes (arrow functions as class methods) are causing this issue. Can you kindly fix this? I can do that but I'm not sure whether it will break code or not due to `this` keyword.

[2021-02-08 09:07] mzohaibqc commented on #80
@rimwoorim @zhouccccc Kindly use previous version i.e. v1.3.7 untill this problem is fixed. There is no functionality difference in both versions. v1.3.8 added support for webpack@5 so you can safely install previous version.

[2021-02-08 09:18] zhouccccc commented on #80
@mzohaibqc Thanks for your reply. The previous version 1.3.7 works normally, I had changed it !

[2021-02-08 09:22] JoeCMorgan commented on #80
That's odd. I'll take a look this morning and replace the arrow functions with standard functions 👍🏼

[2021-02-09 11:16] mzohaibqc commented on #80
@zhouccccc @rimwoorim Kindly try new version i.e. v1.3.9, hopefully it will resolve this issue.

[2021-02-09 11:19] zhouccccc commented on #80
Sounds good. I will try it later. Thanks! @mzohaibqc

[2021-02-14 18:00] #80 closed

[2021-02-14 18:01] #79 closed

[2021-03-11 12:51] dsb123dsb opened #83 "generate double color.less file when pass config params outputFilePath different from 'color.less'"
when I psaa outputFilePath = `${path.join(__dirname, devMode ? '../color.less' : `../output_resource/color.${randomKey}.less`)}`,`;
this plugin will generate two color.less file like this:

![image](https://user-images.githubusercontent.com/16189890/110789313-b0f79980-82aa-11eb-9f1e-04a252a50c3d.png)

After I read the code this maybe the incompatible with antd-theme-generator.
our plugin default g

[2021-04-15 07:19] dotamir opened #86 "ant tag color changes every complie"
**Describe the bug**
I'm getting different tags color in every compile.

An example for ant red tag I'm getting this:
[code]
but the real `.ant-tag-red` is this one:
[code]

The background color has been changed.

**Screenshots**
Wrong generated tag:
![Screen Shot 2021-04-15 at 11 46 43](https://user-images.githubusercontent.com/16477296/114829485-61901600-9de0-11eb-875a-d467415e5072.png)

Correct

[2021-04-27 10:11] Benjaminbai opened #87 "JavaScript heap out of memory when modify less file"
**Describe the bug**
Describe your bug in English language

**Show your code**
Show your `config-overrides.js` file and styles folder structure

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version**
Which version is installed in your application? Try using the latest version, that may help

[2021-04-30 15:29] Austint30 commented on #86
I have this same issue. I can also see this coloring issue happen if you use less functions like tint, shade, etc in less files for components that use variables imported from the variables.less file.

[2021-05-12 01:35] huangzcalan opened #93 "TypeError: Cannot read property 'startsWith' of undefined"
安装antd-theme-webpack-plugin之后启动项目报错
![QQ截图20210512092957](https://user-images.githubusercontent.com/13247571/117904989-f9f8b800-b304-11eb-9ce3-34a6a586fa15.png)

**Version**
antd:"^3.26.19",
antd-theme-webpack-plugin:"^1.3.9"

[2021-05-13 13:36] hmz22 opened #94 "modal RTL problem"
Hi Dear;
I have Problem with modal RTL

[code]

this is vars.less:

[code]

this is config-overrides:

[code]

other component work perfectly but modal:

![Capture](https://user-images.githubusercontent.com/36853974/118132399-e89ed100-b414-11eb-8603-c69eb77602c1.png)

[2021-05-14 02:47] 1171326722 commented on #93
我也是这个原因

[2021-05-14 02:48] 1171326722 commented on #93
我在项目里使用也有相同的问题

[2021-05-14 02:48] yuzhuohao commented on #93
我在项目里使用也有相同的报错

[2021-05-14 06:15] yuzhuohao commented on #93
我解决了，只要把版本回退到1.2.0就行了

[2021-05-17 11:03] kongyijilafumi commented on #87
use the `create-react-app` create project.
edit `config/webpack.config.js`as follows :
[code]
then,use the command `node script/start` run the project.Find everything in normal operation
but,when I edit `src/....less` ,This will happen
![image](https://user-images.githubusercontent.com/56569970/118478467-801c6080-b742-11eb-9ab5-0e1c8fe1c139.png)

[2021-05-22 22:33] TomasTarasovic commented on #87
I had the same issue.

[2021-06-01 07:35] PingZaiDotTse commented on #87
+1

[2021-06-10 03:22] SinHide opened #97 "indexFileName not in assets"
webpack version: 5.7.0
antd-theme-webpack-plugin version: 1.3.9

generateIndexContent(assets, compilation) {
    console.log(this.options.indexFileName) // index.html (defaultOption)
    console.log(this.options.indexFileName in assets) // false
    if (
      this.options.indexFileName &&
      this.options.indexFileName in assets
    ) {
        ......
    }
    ......
}

It cause the generateIn

[2021-06-15 06:59] Ginxo commented on #87
same issue here

[2021-06-15 07:25] ekiliqua commented on #87
+1

[2021-06-16 07:33] SinHide commented on #87
+1

[2021-06-16 07:47] pouyio commented on #87
+1

[2021-06-16 07:50] ito-master commented on #87
+1

[2021-06-23 03:50] atom-git opened #98 "every time when project recompile pending at 95% emitting AntDesignThemePlugin in env vue3.x used by ant design vue"
**Describe the bug**
every time when project recompile pending at 95% emitting AntDesignThemePlugin,
after a flew minutes, report "JavaScript heap out of memory" error

 env vue3.x and ant design vue2.x

**Show your code**

const themeOptions = {
  varFile: path.join(__dirname, './src/config/theme/default.less'),
  antDir: path.join(__dirname, './node_modules/ant-design-vue'),
  stylesDir: path.jo

[2021-06-23 09:29] mzohaibqc commented on #98
@atom-git I've created and tested this plugin with Ant Design for React so it might not work in other ant design based libraries like antv or ant mobile. Even with the addition of dark theme and logic around that, it's is becoming difficult to handle all scenarios. I am too busy these days and I don;t have time to look into this. I might work on this but can not assure you. Any contribution to the

[2021-06-24 05:21] atom-git commented on #98
thank you for your replay, in my situation, first time compile is successed, dynamic theme change works fine, but when i changed the *.less file which contains in "stylesDir" directory, trigger the plugin recompile, then npm run serve blocking，
with a minutes later, show the error message above, I will continue work on this
I guess it may involved by the file writing is not turned off or there is

[2021-06-24 07:58] mzohaibqc commented on #98
You can disable recompilation on code updates using "generateOnce" option.
Look into Readme.md file. When you will set this to true,  it will be only
compiled once. Hope it will solve your problem.

On Thu, 24 Jun 2021, 10:21 am atom-git, ***@***.***> wrote:

[2021-06-24 09:08] atom-git commented on #98
set "generateOnce" option will cause *.less file can not recompile, new style config does not effect

[2021-06-24 10:06] mzohaibqc commented on #98
@atom-git IMO, when someone is using this plugin, he does not require to modify theme with every change but after creating a static build and for production (no development phase). But if still you need this, you can try using some old verrsion of antd like 3.x.x etc

[2021-06-25 03:32] atom-git commented on #98
@mzohaibqc understand,thank you very much

[2021-06-28 08:13] #97 closed, assigned to nobody

[2021-07-15 02:16] dadazhouRenee commented on #68
Is the problem solved？must to change all path ？

[2021-07-15 17:02] tsiotska commented on #87
+1!

[2021-07-24 07:21] Nice-yang commented on #87
+1

[2021-07-24 12:32] mzohaibqc commented on #87
@Benjaminbai @kongyijilafumi @Nice-yang @tsiotska @ekiliqua @Ginxo @PingZai-Tse @TomasTarasovic
Can any one of you setup a public repository and reproduce this bug. I'll fix that. Currently, above mentioned information is not enough. This issue contains no information about CRA version, ANTD version, nothing.

[2021-07-24 14:38] zcgzxg commented on #68
write a custom less FileManager

[code]

[2021-07-29 02:14] GannonSun opened #99 "`darken`: color.toHSL is not a function AND my color.less is empty, i tired evey single solution"
**Describe the bug**
`darken`: color.toHSL is not a function AND my color.less is empty, i tired evey single solution
![image](https://user-images.githubusercontent.com/40262783/127420774-406892c0-a52e-42bd-beda-57d4ad99f2fd.png)
i tired delete #fff and #000, i tired to install antd-theme-generator@1.2.6, but no one can use
i need help, thanks

**Show your code**
// variable.less
@import "~antd/li

[2021-07-29 02:41] GannonSun commented on #99
i know why, my project use antd3.x, but in antd-theme-webpack-plugin, antd-theme-generator is 1.2.8 for antd4.x, how can i change 1.2.8 to 1.2.6?

[2021-07-31 18:46] tsiotska commented on #86
Any news?

[2021-07-31 19:05] tsiotska commented on #87
I can say that i used Vue 3, Antdv2.x (2.2.2) and this issue is caused by hot-reload (dead on when editing theme variables)

[2021-08-01 00:32] kongyijilafumi commented on #87
I create the demo,[link](https://github.com/kongyijilafumi/test_app)

[2021-08-01 13:11] tsiotska commented on #86
It looks weird in color.less
![image](https://user-images.githubusercontent.com/51022409/127772081-d320806a-e84a-4bbd-82c0-d2de237147fa.png)

[2021-08-01 14:12] tsiotska opened #100 "Custom variable in specific name convention is not compiled"
If you name variable with dash-number (example: @secondary-1) it will not compile this variable at all, variable will not exist in color.less.  If you also try to use '_' it will cause another issue 'cannot read variable @{'1'} of undefined'.
However, as workaround i use @secondary1

[2021-08-06 11:11] tsiotska opened #101 "Theme changing transition"
Is it possible to add transition on theme changing? Styles apply immidiately after they are compiled

[2021-08-18 10:43] zcx888841 opened #103 "config antd-prefix change theme not working"
when I  config antd-prefix, eg: @ant-prefix: 'yy' , this plugin change theme not working.

[2021-08-25 01:57] huangche007 commented on #21
@lichnow can you solve this problem

[2021-08-25 09:08] HaoAurora commented on #32
meet the same quesition. Can i know how to resolve it?

[2021-08-25 09:33] mzohaibqc commented on #32
Use localstorage to save updated variables and on reload, get those
variables from localstorage and apply using modifyVars, to restore theme.

On Wed, 25 Aug 2021, 2:08 pm HaoAurora, ***@***.***> wrote:

[2021-08-27 07:33] HaoAurora commented on #32
thanks!

[2021-09-15 07:14] shal1y commented on #100
Yeah been getting the same issue and finally found i'm not loosing my mind. Its the file index.js in the antd-theme-generator line 470-472:
`themeVars = themeVars.filter(
      (name) => name in mappings && !name.match(/(.*)-(\d)/)
    );`

I'm sure there's a reason for this. @mzohaibqc could u shed some light here. Commenting the code out runs fine.

[2021-09-15 13:59] mzohaibqc commented on #100
@shal1y such variables are intentionally ignored because ant-design variables are like @red-1, @red-2 ... @red-9. These color variables are color variant of some main color. So differentiating between antd variables and user variables is difficult. If someone want to debug this and come uop with some solution, any PR is welcome.

I am too busy these days so fixing all bugs for me is too difficult

[2021-09-23 10:17] MasterBran commented on #75
@mzohaibqc i have the same problem when i use this plugin with version 1.2.6, but the error comes from the `antd/lib/style/themes/default.less`.what should i do

[2021-09-25 09:40] amirrstm commented on #87
@mzohaibqc
I have the same issue here. There is a function named combineLess in antd-theme-generator that gets filePath as an argument. I figured out that each line in recursive map is falling in an infinite loop and It causes Maximum call stack size exceeded.

[2021-09-26 18:41] mzohaibqc commented on #75
@MasterBran @ko06 @SinHide Can you recreate this issue and share public repo with me to look into. I can't reproduce this with this small info.

[2021-09-26 18:53] mzohaibqc commented on #87
@kongyijilafumi I cloned and run your project. it worked well, no such memory issue found.

![image](https://user-images.githubusercontent.com/13637803/134820501-b713d7b9-9fb7-437f-924c-966dac724bf7.png)
<img width="1217" alt="Screenshot 2021-09-26 at 11 49 11 PM" src="https://user-images.githubusercontent.com/13637803/134820523-c5a8c879-8456-4cf8-8ab4-7fb26b63f8c8.png">

[2021-09-26 18:53] mzohaibqc commented on #87
@amirrstm Can you reproduce this and share?

[2021-09-29 05:30] MasterBran commented on #75
Sorry, I have solved this problem， thank you very much

[2021-09-29 05:47] mzohaibqc commented on #75
@MasterBran can you kindly share your solution, that might help others.

[2021-10-08 07:41] MasterBran commented on #75
@mzohaibqc make sure that the variable name in our project not exist in vars.less. and sometimes when we change the version of this plugin, we may need clean the cache of yarn or npm. I hope it's helpful

[2021-10-09 07:22] MasterBran commented on #75
@mzohaibqc I can't send email to Gmail, but i want to know why you exclude the non color-dependent
 variables from default, if i change your regexp,will it work?

[2021-10-18 15:50] jay8t6 commented on #99
@GannonSun  you have no idea how much time you saved me with that last comment. Thanks! I use resolutions on package.json to choose 1.2.6 version for antd-theme-generator, thanks to the lock files. That fixed the problem! Thanks again!

`"resolutions": {
    "antd-theme-generator": "1.2.6"
  }`

[2021-12-25 15:38] iaminnasr opened #106 "Error: ENOENT: no such file or directory, open 'C:\Users\amin\Documents\GitHub\tagrani-front-end\node_modules\antd\lib\style\themes\@{root-entry-name}.less'"
**Describe the bug**
Hi!
I used this package and it worked fine as long as update ant design to 4.17.1 and I encountered an this error
can you help me please thanks

**Show your code**
node:internal/fs/utils:344
    throw err;
    ^

Error: ENOENT: no such file or directory, open 'C:\Users\amin\Documents\GitHub\tagrani-front-end\node_modules\antd\lib\style\themes\@{root-entry-name}.less'
    at Ob

[2022-01-02 23:07] popmanhe commented on #106
I have the same issue.
looks like less-bundle-promise don't replace variable in the filename.

Probably need to use another library to bundle less files.

[2022-01-04 12:34] rafaelncarvalho commented on #106
Use the latest antd-theme-generator

The fix: [antd-theme-generator#100](https://github.com/mzohaibqc/antd-theme-generator/issues/100#event-5835397152)

[2022-01-04 17:51] popmanhe commented on #106
Thanks.

Hope author releases 1.2.12 soon and updates the packages.json here and releases a new version to npm as well.

[2022-01-05 12:18] rafaelncarvalho commented on #106
@popmanhe don't need the update. This project use any version of antd-theme-generator above 1.2.8. Just remove and re-add it will get the latest version

[2022-01-06 03:12] mzohaibqc commented on #106
Thank you so much @popmanhe for helping others with regard to this issue.
Being a Dad of a new born is not easy so I don't have much time to fix every issue. Last weekend, I spent sometime and fixed the bug in antd-theme-generator but couldn't updated this package.
It will be great if someone can update this and test in one example project under examples folder. I will merge PR and publish new ver

[2022-01-07 04:49] popmanhe commented on #106
It was @rafaelncarvalho who was helping others.

I'd like to help too.  as @rafaelncarvalho said, there is nothing we should be doing. As soon as antd-theme-generator is updated by npm i, everything works. Unless I missed something.

[2022-01-07 13:24] mzohaibqc commented on #106
Thanks @rafaelncarvalho
@popmanhe you can just install latest version of antd-theme-generator after installing antd-theme-webpack-plugin

[2022-01-20 06:26] suifeng-eng opened #108 "antd theme"
按照你的这个插件确实可以改变antd 的框架的组件主题色，请问自己定义的样式 背景颜色怎么跟随主题变化呢

[2022-01-20 07:15] suifeng-eng opened #109 "我好像找到给自己的代码加背景，边框线，跟随主题色解决的方法了。"
![image](https://user-images.githubusercontent.com/58249304/150290811-b3ef4d50-c459-4f7b-b1a3-d79cc015416f.png)
![image](https://user-images.githubusercontent.com/58249304/150290885-5064f76a-d780-4455-8e1f-47af6bf61713.png)
我不知道我这么写对不对，但好像是解决了我问题。
![image](https://user-images.githubusercontent.com/58249304/150291010-9d2f674d-d75c-466f-8351-bf305b7dcf13.png)
daima代码就用他自己生出的那个变量

[2022-01-21 15:30] mzohaibqc commented on #108
Just use a unique background color variable for your background style as
well as in variable file which you need to provide to this plugin. For
more, read README file

On Thu, 20 Jan 2022, 11:26 am zhangfeng-19951230, ***@***.***>
wrote:

[2022-01-26 03:11] suifeng-eng commented on #108
好的 已经解决了，谢谢！

[2022-03-02 07:44] hmz22 opened #117 "Tag in dark mode"
**Describe the bug**
When switch to dark mode tag bg and border not switch to dark and still in light mode style.
Tell how fix in var.less

**Show your code**
var.less:
[code]

config-overrides.js:
[code]

**Screenshots**
![Screenshot 2022-03-02 134846](https://user-images.githubusercontent.com/36853974/156342779-d583a6c6-95ac-47f3-b6e1-8b5bf3f2c4e9.png)

**Version**
1.3.9

[2022-03-07 12:50] mzohaibqc commented on #109
@zhangfeng-19951230  Thanks for reporting this issue in Chinees when there are clear instructions about reporting in English. There is a tool called Google Translate.

[2022-03-07 12:51] #108 closed, assigned to nobody

[2022-03-07 12:51] #106 closed, assigned to nobody

[2022-05-27 14:58] J-Cat commented on #87
I also have this exact same issue using antd 4.2, and CRA5/webpack5, with craco.
- antd@4.20.3
- antd-theme-webpack-plugin@1.3.9
- craco-less@2.0.0
- @craco/craco@6.4.3
- less@4.1.2
- webpack@5.72.1
- react-scripts@5.0.1

[2022-07-07 21:03] TheShadowKnows opened #130 "Filter out text-shadow in reducePlugin"
In the reducePlugin code, there is a statement that looks like this:
[code]

I had an issue with a text-shadow tag missing from the color.less file due to that statement.

The fix would be to remove the "box-" and just search for "shadow", so both box-shadow and text-shadow would be filtered out.

Thanks a lot for considering this patch.

[2022-07-07 21:06] #130 closed, assigned to nobody

[2022-07-22 08:23] imlijq commented on #98
I had the same problem and I finally solved it by using increase-memory-limit

pnpm add -D increase-memory-limit
pnpm add -D cross-env

  "scripts": {
    "fix-memory-limit": "cross-env LIMIT=8192 increase-memory-limit"
  },

pnpm run fix-memory-limit
pnpm run serve

[2022-08-21 10:52] anuragsachdeva28 commented on #87
Did anyone find a solution to this? I am facing the same issue. I won't be able to provide a replicable scenario, but I will try my best to explain my scenario and the things I debugged.
Initially, my project started with the node version of v8.5.0. At that time, the version of 'antd-theme-webpack-plugin' was v1.1.8. We recently had to upgrade the node version to v14.16.1. When we did this, a lot